<footer>
  <section class="thanks-container">
    <h2>Proyecto creado gracias a:</h2>
    <figure class="logo-container flash_act" >
      <img src="./assets/flash_act.svg" alt="flash_act">
    </figure>

    <div class="list-logos">
      <figure class="logo-container" >
        <img src="./assets/logo-footer-goehte-institute.png" alt="">
      </figure>
      <figure class="logo-container" >
        <img src="./assets/logo-footer-ambassade-de-france.svg" alt="">
      </figure>
      <figure class="logo-container" >
        <img src="./assets/logo-footer-ifal.png" alt="">
      </figure>
      <figure class="logo-container" >
        <img src="./assets/logo-footer-union-europea-01.png" alt="">
      </figure>
      <figure class="logo-container" >
        <img src="./assets/logo-footer-mermelada-de-juegos.svg" alt="">
      </figure>
    </div>

    <figure class="logo-container aecid" >
      <img src="./assets/logo-footer-aecid-cce.svg" alt="">
    </figure>

  </section>
  <!-- equipo -->
  <section class="team-container">
    <div class="person-container">
      <figure class="persona-img" >
        <img src="./assets/Ana.jpeg" alt="">
      </figure>
      <div>
        <h3>Ana Magdalena</h3>
        <p>Mtra. Ana Torres, vive en Guadalajara México, donde trabaja como artista. Su arte profundiza en una variedad de medios interdisciplinarios.</p>
      </div>
    </div>
    <div class="person-container">
      <figure class="persona-img" >
        <img src="./assets/DiegoRetrato.jpg" alt="">
      </figure>
      <div>
        <h3>Ana Magdalena</h3>
        <p>Mtra. Ana Torres, vive en Guadalajara México, donde trabaja como artista. Su arte profundiza en una variedad de medios interdisciplinarios.</p>
      </div>
    </div>
  </section>
</footer>