<main>
  <button class="to-return" routerLink="/" routerLinkActive="active">
    <img src="./assets/button-left.svg" alt="">
    Regresar
  </button>
  <section class="info">
    <div class="two dispositivo-info">
      <p><b>Institución o comunidad:</b> El salto</p>
      <p><b>Nombre:</b> sonda 1</p>
    </div>
  </section>
  <section class="arte">
    <figure class="arte-container">
      <img src="./assets/arte.svg" alt="artista">
    </figure>
  </section>
</main>

<app-footer></app-footer>