<div class="item-container">
    <div class="item-info-container">
     <!-- mapa -->
      <div class="two" >
        <figure class="mapa-container">
          <img src="./assets/mapa.png" alt="mapa">
        </figure>
      </div>

      <!-- informacion -->
      <div class="info-container two">
        <p> <b class="text-black">Nombre :</b> El salto 1</p>
        <p> <b class="text-black">ubicación :</b> 20.510526694027835, -103.17511108674198</p>
        <p> <b class="text-black">Institución o comunidad :</b> EUR</p>
      </div>

      <a class="button-container" routerLink="/view/1" routerLinkActive="active">
        <img src="./assets/botton.svg" alt="botton">
      </a>
    </div>

    <!-- sensores -->
    <div class="item-sensores-container">
      <div class="all-sense">
        <div class="sensor">
          <div class="sensor-info">
            <h4>Ph</h4>
            <h3>316.20</h3>
          </div>
          <figure class="grafica">
            <img src="./assets/graficas/ph.svg" alt="mapa">
          </figure>
        </div>
        <div class="sensor">
          <div class="sensor-info">
            <h4>Tem</h4>
            <h3>306.20</h3>
          </div>
          <figure class="grafica">
            <img src="./assets/graficas/tem.svg" alt="mapa">
          </figure>
        </div>
        <div class="sensor">
          <div class="sensor-info">
            <h4>Tur</h4>
            <h3>7670</h3>
          </div>
          <figure class="grafica">
            <img src="./assets/graficas/tur.svg" alt="mapa">
          </figure>
        </div>
        <div class="sensor">
          <div class="sensor-info">
            <h4>TDS</h4>
            <h3>3137</h3>
          </div>
          <figure class="grafica">
            <img src="./assets/graficas/tds.svg" alt="mapa">
          </figure>
        </div>
      </div>
      <div class="grafic-sense">
        <h4>Ph</h4>
        <figure class="data-time">
          <img src="./assets/graficas/data-time.png" alt="data-time">
        </figure>
      </div>
    </div>
</div>
