<div class="item-container">
    <div class="item-info-container">
     <!-- mapa -->
      <figure class="mapa-container">
          <img src="./assets/mapa.png" alt="mapa">
      </figure>

      <!-- informacion -->
      <div class="info-container">
          <div class="text-seccion"> <p class="text-black">Institución o comunidad:</p> <p>EUR</p> </div>
          <div class="text-seccion"> <p class="text-black">Nombre:</p> <p>El salto 1</p> </div>
          <div class="text-seccion"> <p class="text-black">ubicación:</p> <p>20.510526694027835, -103.17511108674198</p> </div>
      </div>

      <a class="button-container" routerLink="/view/1" routerLinkActive="active">
        <img src="./assets/botton.svg" alt="botton">
      </a>
    </div>

    <!-- sensores -->
    <div class="item-sensores-container" routerLink="/data/1" routerLinkActive="active">
      <div class="sensor-container ph">
        <div class="icon"><p>pH</p></div>
        <!-- sona de color -->
        <div class="seccion-color"></div>
        <p class="value">7.00</p>
      </div>

      <div class="sensor-container tem">
        <div class="icon"><p>TEM</p></div>
        <!-- sona de color -->
        <div class="seccion-color"></div>
        <p class="value">25.00</p>
      </div>

      <div class="sensor-container tds">
        <div class="icon"><p>TDS</p></div>
        <!-- sona de color -->
        <div class="seccion-color"></div>
        <p class="value">10</p>
      </div>

      <div class="sensor-container tur">
        <div class="icon"><p>TUR</p></div>
        <!-- sona de color -->
        <div class="seccion-color"></div>
        <p class="value">10</p>
      </div>
    </div>
</div>
