<main>
  <button class="to-return">
    <img src="./assets/button-left.svg" alt="">
    Regresar
  </button>
  <section class="info">
    <div class="artista-container two">
      <figure class="artista-img">
        <img src="./assets/user.svg" alt="artista">
      </figure>
      <div>
        <p>Mark Einst</p>
        <b>Social media</b>
      </div>
    </div>
    <div class="two dispositivo-info">
      <p><b>Institución o comunidad:</b> El salto</p>
      <p><b>Nombre:</b> sonda 1</p>
    </div>
  </section>
  <section class="arte">
    <figure class="arte-container">
      <img src="./assets/videos.png" alt="artista">
    </figure>
  </section>
</main>

<app-footer></app-footer>