<!-- titulo y menu -->
<main>
  <header class="header-container">
    <section class="header-content">
      <h1>Visualizador de datos</h1>
      <nav class="menu-container">
        <a class="menu-item" href="">Inicio</a>
        <a class="menu-item menu-on" href="">Visualizar datos</a>
        <a class="menu-item" href="">Documentation</a>
        <a class="menu-item" href="">Comunidad</a>
      </nav>
    </section>
  </header>

  <!-- lista -->
  <section class="container lista-container">
    <h2>Dispositivos conectados</h2>
    <div class="lista-items">
      <app-item-mca></app-item-mca>
      <app-item-mca></app-item-mca>
      <button>Mostrar Más</button>
    </div>
  </section>
</main>

<app-footer></app-footer>